
{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("https://www.dropbox.com/s/90o4zcbld5uf9ip/Leads-for-business-features.mp4?raw=1")'>
        <div class="pos-a centerXY">
          <!--
            <video width="320px" controls>
            <source src="https://www.dropbox.com/s/90o4zcbld5uf9ip/Leads-for-business-features.mp4?raw=1"/>
          </video>
          -->
          <div class="bgc-white bdrs-50p pos-r" style="width: 120px; height: 120px;">
            <img class="pos-a centerXY" src="https://www.dropbox.com/s/9uol1h3dklt26vp/LEADS%20FOR%20BUSINESS%20%281%29.png?raw=1" alt="">
          </div>
        
        </div>
      </div>
      <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width: 320px;">

        <h3 class="fw-300 c-grey-900 mB-40">
          <a target="_blank" rel="noopener noreferrer" 
             href="">Network Printers</a> - Login
        </h3>

        {% if msg %}
            <h4 class="fw-300 c-grey-900 mB-40">{{ msg | safe }}</h4>
        <!-- Commenting out -->
        
                   
        {% endif %}
        <div class="colM" id="content">
            <h1>Password reset complete</h1>
            <p>Your password has been set.  You may go ahead and log in now.</p>
            <p><a href="/accounts/login/">Log in</a></p>
            <br class="clear">
            </div>

        
      </div>
    </div>  

{% endblock content %}
